<p>{{ quotes.Quote }}</p>
<p>This quote was submitted on {{quotes.completeDate | date |  timePassed}} </p>
<div>
<button class="btn btn-sm btn-success" (click)="upvote()"> {{quote.upVote}} <i class="fa fa-thumbs-up" id = 'like'></i> </button>
<button class="btn btn-sm btn-success" (click)="downvote()"> {{quote.dnVote}} <i class="fa fa-thumbs-up" id = 'dislike'></i> </button>
<button (click)= 'quoteDelete(true)' class="=btn btn-outine danger">Delete</button>
<button (click)= 'quoteComplete(true)' class="btn btn-outline danger">Complete</button>
</div>